{% extends "layout.html" %}
        {% block body %}
        <h2>User Admin Home</h2>
        <hr>
        <h3>Users</h3>
        <ul id="users">
            {% for user in users %}
                <li><a href="admin/users/modify/{{ user.username }}">{{ user.full_name }}</a> <a class="button" href="admin/users/delete/{{ user.username }}">Delete</a></li>
            {% endfor %}
        </ul>
        <hr>
        <br />
        <a href="admin/users/addUser" class="button">Add User</a>
        {% endblock %}