<!DOCTYPE html>
<html>
    <head>
        <title>User Admin</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>User Admin Home</h1>
        <hr>
        <h2>Users</h2>
        <ul id="users">
            {% for user in users %}
                <li><a href="admin/modify/{{ user[0] }}">{{ user[2] }}</a> <a class="button" href="admin/delete/{{ user[0] }}">Delete</a></li>
            {% endfor %}
        </ul>
        <hr>
        <br />
        <a href="admin/addUser" class="button">Add User</a>
        <style>
            .button {
                padding: 5px;
                border: 1px solid black;
                border-radius: 15px; 
                margin: 10px;
                color: black;
                text-decoration: none;
            }
            .button:hover {
                background-color: #ebebeb;
            }
            li {
                margin-bottom: 15px;
            }
        </style>
    </body>
</html>