{% extends "layout.html" %}
        {% block body %}
        <h2>View Your Images</h2>
        <ul id="images">
            {% for file in files %}
                <li><a href="{{ url_for('static', filename='img_cache/' + file) }}"><img class="gallery" src="{{ url_for('static', filename='img_cache/' + file) }}" align="middle" /></a>
                    <form action="/deleteImage" method="POST">
                        <input type="hidden" name="filename" value="{{ file }}">
                        <input class="button delete" type="submit" value="Delete">
                    </form>
                    </li>
            {% endfor %}
        </ul>
    {% endblock %}