{% extends "layout.html" %}
        {% block body %}
        <h2>View Your Images</h2>
        <ul id="images">
            {% if not file%}
                <a href="/uploadImage">Upload some images</a>
            {% endif %}
            {% for file in files %}
                <li><a href="viewImage?filename={{ file }}"><img class="gallery" src="data:image/jpeg;charset=utf-8;base64,{{ encode_image('/home/image_gallery/python-image-gallery/gallery/ui/static/img_cache/' + file) }}"" /></a>
                    <form action="/deleteImage" method="POST">
                        <input type="hidden" name="filename" value="{{ file }}">
                        <input class="button delete" type="submit" value="Delete">
                    </form>
                    </li>
            {% endfor %}
        </ul>
    {% endblock %}